 <!-- About Section -->
 <section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Sobre mi</h2>
        <p>Un poco de sobre quien soy</p>
      </div>

      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          <p>
            Actualmente diseño, rediseño y programo nuevos proyectos y sitios de aplicaciones web, ya sea del lado del cliente (Front-end, UX / UI) como del lado del servidor (Back-end).<br/>

              Continuamente aprendiendo y adquiriendo nuevas habilidades en función a las actuales y futuras demandas y tendencias tecnológicas en el campo del diseño y desarrollo de aplicaciones web en general.
              
              </p>
          

        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Apasionado con el trabajo que realizo, ofreciendo y aportando mis conocimientos, habilidades y experiencia, así como nuevas ideas, soluciones, personalización y seguimiento de calidad al cliente y su objetivo en cada proyecto.
          </p>
         
        </div>
      </div>

    </div>
  </section><!-- End About Section -->