 <!-- Knowledge Section -->
 <section id="knowledge" class="knowledge">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Conocimiento</h2>
        <p>Formacion y experiencia profesional </p>
      </div>

      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          <p>
            Cisco IT Essentials.<br/>

              Argentina Programa.
              
              </p>
          

        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Diseño y desarrollo de software multiplataforma con tecnologías web, desarrollos móviles, diseño y desarrollo full stack de sitios web.  Conocimientos en programación en numerosos lenguajes, pricipalmente HTML, CSS, Javascript, PHP, etc.
          </p>
         
        </div>
      </div>

    </div>
  </section><!-- End Knowledge Section -->