<!-- Services Section -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Servicios</h2>
        <p>Que ofrezco</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="zoom-in-left">
            <div class="icon"><i class="bi bi-code-slash" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Desarrollo Web</a></h4>
            <p class="description">Creación de sitios web modernos para todas las plataformas.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
            <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="">Web autoadministrable</a></h4>
            <p class="description">Sobre plataforma Wordpress.
              Fácil de utilizar.
              Costo de mantenimiento bajo.
              Ideal para quienes renuevan el contenido a diario.
              La mejor opción costo beneficio. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
            <div class="icon"><i class="bi bi-shop" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">E-Shop</a></h4>
            <p class="description">Sobre Prestashop.
              Sin comisiones por venta.
              Costo de mantenimiento bajo.
              Super plástica y con muchas integraciones.
              Ideal para quienes ya tienen un comercio online y quieren libertad. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
            <div class="icon"><i class="bi bi-menu-button-wide-fill" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Diseño UX/UI</a></h4>
            <p class="description">Diseño de interfaces (UI) en base a estudios de experiencia de usuarios (UX). Desde cero o restyling sobre alguna base.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
            <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
            <h4 class="title"><a href="">Registro de dominios</a></h4>
            <p class="description">&iquest;A&uacute;n no tiene presencia en Internet?
            Registre su dominio con el nombre de su empresa.
            Haga que le conozcan en todo el planeta.	</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
            <div class="icon"><i class="bi bi-info-square" style="color: #4680ff;"></i></div>
            <h4 class="title"><a href="">Consultoría y Asesoramiento</a></h4>
            <p class="description">&iquest;Tienes un nuevo proyecto?
            Te puedo asesorar y guiar desde el principio hasta el final.
            Herramientas de gesti&oacute;n de proyectos.
            Colaboraciones y aportaciones</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->
